.profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.resident {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#pic {
  border: solid 2px black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
